
@media only screen and (min-width: 1010px) {
    .stats-container li {
      margin: 0 2% 5px;
    }
  }
  
  @media only screen and (max-width: 1009px) {
    .stats-container li {
      margin: 0 -.2em 5px;
    }
  }

  @media screen and (max-width: 900px) {
    #intro h1 {
        font-size: 7vh;
     
    }
    #features{
        margin-top:50px
      }
    #features .row.head img {
        max-width: 350px;
        margin: auto;
        mix-blend-mode: lighten;
        display: inline-block;
    }
    #features .head {
        color: #9d8d44;
        mix-blend-mode: inherit;
        width: initial;
        margin: 50px auto;
    }
    #features h3 {
        
        width: initial;
    
    }
    #features .row.wrapper_box p {
        padding:initial
    }
    #tokenomics {
        padding: 100px 0 0;
        margin: 0;
    }
    #tokenomics h2 {
        font-size: 6vh;
        margin-bottom: 100px;
    }
    #tokenomics  .stats-container li {
       
        position: relative;
        margin-bottom: 40px;
        margin-right: 20px;
    }
    #roadmap {
        padding: 10px 0;
       
        margin: 15px 0;
    }
    .roadmap h2 {
        font-size: 8vh;
        margin-top: 52px;
        margin-bottom: 80px;
    }
    .roadmap ul li div {
      width: 250px;
    }
  
    .roadmap ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
    .reveal {
        max-width: 250px;
    }
    .social_link{text-align: center!important;}
    footer{ text-align: center;}
  }
  
  @media screen and (max-width: 600px) {
    #tokenomics {
      
        background-size: cover;

    }
    #tokenomics  .stats-container li {
       
      
        margin-right: 0px;
    }
    #roadmap {
       
        background-size: cover;
  
    }
    .roadmap ul li {
      margin-left: 20px;
    }
  
    .roadmap ul li div {
      width: calc(100vw - 91px);
    }
  
    .roadmap ul li:nth-child(even) div {
      left: 45px;
    }
  
    .roadmap ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #9d8d44 transparent transparent;
    }
  }
